extends template

block content 
    h1.w3-blue(tyle="text-shadow:2px 2px 0 #444",style="margin-top: 0px;")
        b.w3-margin-left #{nome_rua}
    .w3-container
        h3.w3-text-blue.w3-margin-left(tyle="text-shadow:2px 2px 0 #444")
            b Fotografias antigas
        .w3-cell-row
        each f in rua.figuras_antigas
            .w3-cell(style="width:" + fwan + '%')
                img(src=f.path, style="width:100%;")
                if f.legenda.length > 0
                    .w3-container.w3-text-blue.w3-center
                        h8 #[b Legenda]: #{f.legenda}
        hr
        h3.w3-text-blue.w3-margin-left(tyle="text-shadow:2px 2px 0 #444")
            b Fotografias atuais
        .w3-cell-row.w3-center
        each f in rua.figuras_atuais
            .w3-cell(style="width:" + fwat + '%')
                img(src=f.path, style="width:100%;")
                if f.legenda.length > 0
                    .w3-container.w3-text-blue.w3-center
                        h8 #[b Legenda]: #{f.legenda}
        hr 
        h3.w3-text-blue.w3-margin-left(tyle="text-shadow:2px 2px 0 #444")
            b Descrição
        .w3-panel.w3-light-grey.w3-border.w3-border-indigo
            each p in rua.paragrafos
                p=p
        hr 
        h3.w3-text-blue.w3-margin-left(tyle="text-shadow:2px 2px 0 #444")
            b Links pesquisa
        .w3-container
            h4.w3-text-blue.w3-margin-left(tyle="text-shadow:2px 2px 0 #444")
                b Lugares  
            .w3-panel.w3-light-grey.w3-border.w3-border-indigo
                ul
                    each l in rua.lugares
                        li
                            a(href="/")=l
            center 
                hr(style="width:95%")
            h4.w3-text-blue.w3-margin-left(tyle="text-shadow:2px 2px 0 #444")
                b Datas  
            .w3-panel.w3-light-grey.w3-border.w3-border-indigo
                ul
                    each d in rua.datas
                        li
                            a(href="/ruas/data/"+d)=d
            center
                hr(style="width:95%")
            h4.w3-text-blue.w3-margin-left(tyle="text-shadow:2px 2px 0 #444")
                b Entidades   
            .w3-panel.w3-light-grey.w3-border.w3-border-indigo
                ul
                    each e in rua.entidades
                        li
                            a(href="/ruas/entidade/"+e.nome)=e.nome
        hr
        h3.w3-text-blue.w3-margin-left(tyle="text-shadow:2px 2px 0 #444")
            b Opções  
        .w3-row-padding.w3-center
            .w3-col.m12(style="width:20%")
                a.w3-col.w3-btn.w3-blue.w3-border.w3-border-indigo.w3-hover-light-blue(href="/rua/fotos/" + rua._id) Adicionar Imagem
            .w3-col.m12(style="width:20%")
                a.w3-col.w3-btn.w3-blue.w3-border.w3-border-indigo.w3-hover-light-blue(href="/rua/edit/" + rua._id) Atualizar Rua
        br
