extends template

block content 
    h1.w3-blue(tyle="text-shadow:2px 2px 0 #444",style="margin-top: 0px;")
        b.w3-margin-left(id="nome_rua") #{nome_rua}
    .w3-container
        h3.w3-text-blue.w3-margin-left(tyle="text-shadow:2px 2px 0 #444")
            b Fotografias antigas
        .w3-cell-row
        each f in rua.figuras_antigas
            .w3-cell(style="width:" + fwan + '%')
                img(src=f.path, style="width:100%;")
                if f.legenda.length > 0
                    .w3-container.w3-text-blue.w3-center
                        h8 #[b Legenda]: #{f.legenda}
        hr
        h3.w3-text-blue.w3-margin-left(tyle="text-shadow:2px 2px 0 #444")
            b Fotografias atuais
        .w3-cell-row.w3-center
        each f in rua.figuras_atuais
            .w3-cell(style="width:" + fwat + '%')
                img(src=f.path, style="width:100%;")
                if f.legenda.length > 0
                    .w3-container.w3-text-blue.w3-center
                        h8 #[b Legenda]: #{f.legenda}
        hr 
        .w3-panel.w3-light-grey.w3-border.w3-border-indigo.w3-card-4
            p 
                h3.w3-text-blue.w3-margin-left(tyle="text-shadow:2px 2px 0 #444")
                    b Descrição
            each p in rua.paragrafos
                p=p
        hr 
        .w3-panel.w3-light-grey.w3-border.w3-border-indigo.w3-card-4
            p 
                h3.w3-text-blue.w3-margin-left(tyle="text-shadow:2px 2px 0 #444")
                    b Lista casas   
                ul.w3-ul(id="listacasasul")
                    - var i = 0
                    each c in rua.casas
                        li.w3-bar(id='casa' + i style="display:none;")
                            .w3-panel.w3-leftbar.w3-border-blue
                                p #[b Número: #{c.num}] 
                                if c.enfiteuta.length > 0
                                    p Enfiteuta: #{c.enfiteuta.slice(0,30)} 
                                if c.foro.length > 0
                                    p Foro: #{c.foro.slice(0,30)}
                                p Descrição: #{c.desc.join('\n')}
                        - i+=1
            .w3-row-padding.w3-center
                .w3-col.m12(style="width:20%")
                    button.w3-col.w3-btn.w3-blue.w3-border.w3-border-indigo.w3-hover-light-blue(id="mostrarmaiscasas") Mostrar mais
                .w3-col.m12(style="width:20%")
                    button.w3-col.w3-btn.w3-blue.w3-border.w3-border-indigo.w3-hover-light-blue(id="mostrarmenoscasas") Mostrar menos
            br
        hr
        h3.w3-text-blue.w3-margin-left(tyle="text-shadow:2px 2px 0 #444")
            b Links pesquisa
        .w3-panel.w3-light-grey.w3-border.w3-border-indigo.w3-card-4
            ul.w3-ul
                li
                    h3.w3-text-blue.w3-margin-left(tyle="text-shadow:2px 2px 0 #444")
                        b Lugares  
                each l in rua.lugares
                    li
                        a(href="/rua/"+l.replaceAll(' ','_'))=l
        center 
            hr(style="width:95%") 
        .w3-panel.w3-light-grey.w3-border.w3-border-indigo.w3-card-4
            ul.w3-ul
                li 
                    h3.w3-text-blue.w3-margin-left(tyle="text-shadow:2px 2px 0 #444")
                        b Datas 
                each d in rua.datas
                    li
                        a(href="/data/"+d)=d
        center
            hr(style="width:95%") 
        .w3-panel.w3-light-grey.w3-border.w3-border-indigo.w3-card-4
            ul.w3-ul
                li
                    h3.w3-text-blue.w3-margin-left(tyle="text-shadow:2px 2px 0 #444")
                        b Entidades  
                each e in rua.entidades
                    li
                        a(href="/entidades/entidade/"+e.nome.replaceAll(' ','_'))=e.nome
        hr
        .w3-panel.w3-light-grey.w3-border.w3-border-indigo.w3-card-4
            h3.w3-text-blue.w3-margin-left(tyle="text-shadow:2px 2px 0 #444")
                b Opções  
            .w3-row-padding.w3-center
                .w3-col.m12(style="width:20%")
                    a.w3-col.w3-btn.w3-blue.w3-border.w3-border-indigo.w3-hover-light-blue(href="/rua/fotos/" + rua._id) Adicionar Imagem
                .w3-col.m12(style="width:20%")
                    a.w3-col.w3-btn.w3-blue.w3-border.w3-border-indigo.w3-hover-light-blue(href="/rua/edit/" + rua._id) Atualizar Rua
                .w3-col.m12(style="width:20%")
                    a.w3-col.w3-btn.w3-blue.w3-border.w3-border-indigo.w3-hover-light-blue(href="/rua/add/") Criar Rua
                .w3-col.m12(style="width:20%")
                    a.w3-col.w3-btn.w3-blue.w3-border.w3-border-indigo.w3-hover-light-blue(href="/" id="linkrua" target="_blank") Link Rua OpenStreetMap
            br
